


header{
    background-color: black;
    hieght: 100px;
   color: white;
  }

footer{
    background-color: black;
    hieght: 100px;
   color: white;
  }

main {
  background: cornflowerblue;
  padding: 10px;
  border: 2px solid black;

}

nav ul li{
  text-decoration: none;
  padding: 15px;
  display: inline;

}

img {
  float: left;
}